@page 
@model ProjectASParagus.Pages.DeleteUpdateMenuModel
@{
    if(Model.MenuList.Count == 0)
    {
        <p>There are currently no menus available.</p>
    }
    @foreach (var menu in Model.MenuList)
    {
        <div class="container col-6 text-center mb-5 border border-primary rounded p-4" style="margin-top: 15px;">
            <div class="row justify-content-center">
                <div class="menu-item">
                    <h3>@menu.ProductName</h3>
                    @if (menu.ImageUrl != "Image missing" || menu.ImageUrl != "")
                    {
                        <img src="@menu.ImageUrl" class="img-fluid" alt="Menu Image" style="max-width: 250px; max-height: 250px; object-fit: cover; margin-right: 10px; border-radius: 10px;">
                    }
                    else
                    {
                        <p>No image</p>
                    }
                    <p>@menu.Price :-</p>
                    <p>@menu.Description</p>
                    <div class="button-group">
                        <button id="editBtn-@menu.MenuItemId" class="edit-btn btn btn-primary">Edit</button>
                        <form method="post" id="deleteForm-@menu.MenuItemId" class="delete-form" style="display:inline;">
                            <input type="hidden" name="action" value="Delete" />
                            <input type="hidden" name="menuItemID" value="@menu.MenuItemId" />
                            <input type="hidden" name="ProductName" value="@menu.ProductName" />
                            <input type="hidden" name="Description" value="@menu.Description" />
                            <input type="hidden" name="ImageUrl" value="@menu.ImageUrl" />
                            <input type="hidden" name="Price" value="@menu.Price" />
                            <button type="submit" class="delete-btn btn btn-danger">Delete</button>
                        </form>
                    </div>

                    <form method="post" class="edit-form mt-3" style="display:none;" enctype="multipart/form-data">
                        <input type="hidden" name="MenuItemId" value="@menu.MenuItemId" />
                        <input type="hidden" name="ProductName" value="@menu.ProductName" />
                        <input type="hidden" name="Description" value="@menu.Description" />
                        <input type="hidden" name="Price" value="@menu.Price" />
                        <input type="hidden" name="ImageUrl" value="@menu.ImageUrl" />
                        <input type="hidden" name="action" value="Update" />
                        <input type="text" class="form-control mb-2" name="productName" value="@menu.ProductName" />
                        <input id="fileInput" type="file" name="file" class="form-control" accept="image/*" />
                        <input type="number" class="form-control mb-2 mt-2" name="Price" value="@menu.Price" />
                        <textarea class="form-control mb-2" name="description">@menu.Description</textarea>
                        <button type="submit" class="save-btn btn btn-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    }

    <script src="~/js/Menu/EditDeleteMenu.js"></script>
}
